services:
  caddy:
    image: caddy:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./conf:/etc/caddy
      - ./site:/srv
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - network1

volumes:
  caddy_data:
  caddy_config:

# https://docs.docker.com/compose/how-tos/networking/
networks:
  network1:
    external: true
