services:
  caddy:
    image: caddy:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./conf:/etc/caddy
      - ./site:/srv
      - caddy_data:/data
      - caddy_config:/config

volumes:
  caddy_data:
  caddy_config:

# the name default_docker_bridge is arbitrary, docker creates a "bridge" network by default, unless you specified something else, it will be this.
networks:
  mesh_bridge:
    external: true
    name: mesh
